<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="contact">
					<form action="{{ url_for('user') }}">
						<h3>SIGN IN</h3>
						<input type="text" placeholder="USERNAME">
						<input type="text" placeholder="PASSWORD">
						<button class="submit">Login</button>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="right-text">
				</div>
				<div class="right-inductor"></div>
			</div>
		</div>
	</section>
</body>
</html>